<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLLOCATION">
            <Directory Id="dir4109511857FC5BBDBF460AF340AD678B" Name="mako-0.3.3-py2.6.egg">
                <Directory Id="dir64075F27E6DE70677E34C8FFD3FE51BD" Name="EGG-INFO">
                    <Component Id="cmp6D536DA14115BBCD12982339D61838E5" Guid="{4C4CBFCA-CFAE-4E0E-BCC2-7FED826F1F0F}">
                        <File Id="filAE0AF61911B60450291330F27453CE96" KeyPath="yes" Source="$(var.MakoDir)\EGG-INFO\top_level.txt" />
                    </Component>
                    <Component Id="cmp3494B0DF2B22EF34FEBECE982E74B9F0" Guid="{2BB56ADE-4F7E-4B44-88B3-F49AC41CEE36}">
                        <File Id="fil0451B5D0DCD17EE688EE7BA6409DB0BF" KeyPath="yes" Source="$(var.MakoDir)\EGG-INFO\requires.txt" />
                    </Component>
                    <Component Id="cmp05D9F725B57351B6FF342507FA9EFAE4" Guid="{6730E421-BCF6-4A62-A23A-685E43552F15}">
                        <File Id="fil9B7A1A6EF586E2A6B84D6F61D7DE9B17" KeyPath="yes" Source="$(var.MakoDir)\EGG-INFO\SOURCES.txt" />
                    </Component>
                    <Component Id="cmpAAF692F25D7DCB6F18FD4A821778088E" Guid="{8AFF82ED-2209-49F0-9E5C-531D184EAFC3}">
                        <File Id="fil02D6A1614F57EB490702CCDAB28823F2" KeyPath="yes" Source="$(var.MakoDir)\EGG-INFO\PKG-INFO" />
                    </Component>
                    <Component Id="cmp4DA5BBAD7F5DC5784BBCDB1688E40012" Guid="{21D5AD1C-76CA-43B8-A4C0-33D5C1CF4DB1}">
                        <File Id="fil7E719D35DE6097CF3A1FE59F21107C82" KeyPath="yes" Source="$(var.MakoDir)\EGG-INFO\dependency_links.txt" />
                    </Component>
                    <Component Id="cmp9DA9B4AF053AF23C256A194749EFA8EF" Guid="{BDCFBC51-F1C9-43DB-9091-6424ECACEC15}">
                        <File Id="fil0A2222EC15B72D1B4C36356A5B03EF26" KeyPath="yes" Source="$(var.MakoDir)\EGG-INFO\entry_points.txt" />
                    </Component>
                    <Component Id="cmp5741C15015B7D6D5A48941E739BBCAB4" Guid="{FC448914-DD29-4F6E-809E-D63A9CFE7FCE}">
                        <File Id="filAABABD0ED3931F726D5504139B6FCD53" KeyPath="yes" Source="$(var.MakoDir)\EGG-INFO\not-zip-safe" />
                    </Component>
                    <Directory Id="dir0D71037C4CC582E540E5F13B52DFAF20" Name="scripts">
                        <Component Id="cmp691DBB37AA66818469D630CB77E01679" Guid="{17F4774A-B602-4AEE-80DD-3966E96A241E}">
                            <File Id="filF5B3E2C3DB9641BCCE439E627AA41548" KeyPath="yes" Source="$(var.MakoDir)\EGG-INFO\scripts\mako-render" />
                        </Component>
                        <Directory Id="dir0743BA6B954D9CD6C42A7FF066F6497B" Name=".svn">
                            <Component Id="cmpFE73889C0F96D4A5D21441AEFD0F301B" Guid="{5593346B-5BF6-4057-9A08-E70054514F16}">
                                <File Id="filFCC5D0E9DB3E93DCA1170B35624AD693" KeyPath="yes" Source="$(var.MakoDir)\EGG-INFO\scripts\.svn\entries" />
                            </Component>
                            <Directory Id="dirDDE77588B23BBF3341CC7A5E338721A5" Name="text-base">
                                <Component Id="cmpB139BAE4A468CC56CB522D0AB857EE77" Guid="{02A35D41-38C8-42D6-94CD-649C42E239BF}">
                                    <File Id="fil896EC184EA107F80AC5D392120B59B8C" KeyPath="yes" Source="$(var.MakoDir)\EGG-INFO\scripts\.svn\text-base\mako-render.svn-base" />
                                </Component>
                            </Directory>
                        </Directory>
                    </Directory>
                    <Directory Id="dirE41B9CEB3E00321181DD5DA1F17F4D36" Name=".svn">
                        <Component Id="cmp9F92A89E259FF561D5AD10B40684A5E0" Guid="{D86C88CE-C9A0-4F6A-98F0-A41181E11359}">
                            <File Id="filD0A676DBA7D6587C543539AF157203ED" KeyPath="yes" Source="$(var.MakoDir)\EGG-INFO\.svn\entries" />
                        </Component>
                        <Directory Id="dirCA582AA371C92ACA6008DC389B85525E" Name="text-base">
                            <Component Id="cmpD9E8C125E692DFD15080C397C01027F0" Guid="{E27E032C-0B00-452F-B876-657E37DD25F9}">
                                <File Id="fil7C7B091261FB7279AF985D129EA2A029" KeyPath="yes" Source="$(var.MakoDir)\EGG-INFO\.svn\text-base\entry_points.txt.svn-base" />
                            </Component>
                            <Component Id="cmpB3969832B82FC15DD4FD014606446CB7" Guid="{293057DE-7C34-48F4-8A5A-FDB1FAD47B3C}">
                                <File Id="fil12FB620FEC2CBB3A53EE4D4864F8BCF7" KeyPath="yes" Source="$(var.MakoDir)\EGG-INFO\.svn\text-base\PKG-INFO.svn-base" />
                            </Component>
                            <Component Id="cmp2D30463AA793688567F7F07E12881A1F" Guid="{B9541328-3FA3-45D9-A6AA-8D10C8FC4E89}">
                                <File Id="fil90370E66181C3F9ECCA07DD54054AA6C" KeyPath="yes" Source="$(var.MakoDir)\EGG-INFO\.svn\text-base\SOURCES.txt.svn-base" />
                            </Component>
                            <Component Id="cmp631FEF084E4C60A75F07E53E2FBE3334" Guid="{BC91D646-91D1-4C03-8E4E-B86FAAFDD3FD}">
                                <File Id="fil9DB69B074AC95B7B9A90FFB0A182F51C" KeyPath="yes" Source="$(var.MakoDir)\EGG-INFO\.svn\text-base\dependency_links.txt.svn-base" />
                            </Component>
                            <Component Id="cmp474549535E9601D52BE47C9DE2B74561" Guid="{FB46AF09-5857-49AB-99FB-DCB7A8528494}">
                                <File Id="fil55015DDF54E77FCFADB95A4C7D51E0DF" KeyPath="yes" Source="$(var.MakoDir)\EGG-INFO\.svn\text-base\not-zip-safe.svn-base" />
                            </Component>
                            <Component Id="cmp952090385424F1C51249260C0AA21639" Guid="{9A096B79-5290-4D49-965E-1F7E3F77FB6D}">
                                <File Id="filD7B221EA543603C03B20B1481022F9A4" KeyPath="yes" Source="$(var.MakoDir)\EGG-INFO\.svn\text-base\requires.txt.svn-base" />
                            </Component>
                            <Component Id="cmp98B52544AC990BD818120B79F658B83B" Guid="{698ECCEB-FF40-4526-80EE-8F5576292320}">
                                <File Id="fil127C3EF9600550F9A946A89286B7C355" KeyPath="yes" Source="$(var.MakoDir)\EGG-INFO\.svn\text-base\top_level.txt.svn-base" />
                            </Component>
                        </Directory>
                    </Directory>
                </Directory>
                <Directory Id="dir1A04146DFB47993D60A42C62908551A3" Name=".svn">
                    <Component Id="cmpE2027302E149D63244F20121A6EF0CB8" Guid="{A7139776-BB6B-4A92-B5BC-484415A55EA6}">
                        <File Id="fil8D324D3404326A95446A348E1AF1449B" KeyPath="yes" Source="$(var.MakoDir)\.svn\entries" />
                    </Component>
                </Directory>
                <Directory Id="dirDCC4E6E68F070D47F5B365BA2E9B2891" Name="mako">
                    <Component Id="cmp2C663AAF9A726748E5B6BBCC22D14D6C" Guid="{06B8628D-FD4A-485C-B8DA-0E7911201E6B}">
                        <File Id="filF650F166A4432A9C909E473A643244A9" KeyPath="yes" Source="$(var.MakoDir)\mako\parsetree.pyc" />
                    </Component>
                    <Component Id="cmp2C1229D7A190DBAD2CF097FE65F2E9D1" Guid="{C9152F5A-168E-4B68-85D5-AB18BD8AEDE3}">
                        <File Id="fil78CDF0EE1ED282FF0FCFC464502A184D" KeyPath="yes" Source="$(var.MakoDir)\mako\cache.py" />
                    </Component>
                    <Component Id="cmp1B476CD895834B6CFCFCBF988D59E0FA" Guid="{EB0F1498-E0DA-4D0A-94E1-78458A4B8975}">
                        <File Id="fil0C45FC886A46633FCF64F92AE8BFCD91" KeyPath="yes" Source="$(var.MakoDir)\mako\runtime.pyc" />
                    </Component>
                    <Component Id="cmpC431238B727035CE0B150E303E4A6E02" Guid="{AFC65418-EBC8-4C5B-A401-97A534F76A40}">
                        <File Id="filDE01C119B952496A3B3C496CEE050547" KeyPath="yes" Source="$(var.MakoDir)\mako\filters.pyc" />
                    </Component>
                    <Component Id="cmp296AEA342CC0FAB3F38D9DFE34B5A2C5" Guid="{D6349FDE-5490-471E-8C8F-D197F690C620}">
                        <File Id="fil60B2901B88B0BE5F4C37C66B35455BBD" KeyPath="yes" Source="$(var.MakoDir)\mako\template.py" />
                    </Component>
                    <Component Id="cmpAD2D00BD0EDF7AF14C10A7FB20861050" Guid="{46117F91-B67E-456B-A499-728739C84006}">
                        <File Id="filBF108697A6B114A67E811D780B6DADE5" KeyPath="yes" Source="$(var.MakoDir)\mako\lexer.py" />
                    </Component>
                    <Component Id="cmp6151576C3E7AEC535395B989D34C1B9C" Guid="{09B9F0B8-2D33-40A3-A1BD-6855F45703DB}">
                        <File Id="fil384EB9C3BFEE9D6A6472A71ADCAB517A" KeyPath="yes" Source="$(var.MakoDir)\mako\pygen.pyc" />
                    </Component>
                    <Component Id="cmp372A475C42B064D02CFFBB3B9EE9AA1D" Guid="{41DEBAB2-B175-439B-80BD-F35249755BB6}">
                        <File Id="fil7BA3C3A2AF9485B09FAF1581AD0524AB" KeyPath="yes" Source="$(var.MakoDir)\mako\__init__.py" />
                    </Component>
                    <Component Id="cmpC28E65E030C729B709EACB9BE24E181F" Guid="{288692F3-D29E-472D-8101-2568F0801DED}">
                        <File Id="filFA18F43B65D9ECEA284ECFE75E1101FE" KeyPath="yes" Source="$(var.MakoDir)\mako\exceptions.pyc" />
                    </Component>
                    <Component Id="cmpA72CF8E57825B8608D14505D52892200" Guid="{5F0E592A-6774-44AE-A934-98E7F19198A9}">
                        <File Id="filA79C45E521F97E307602FBEB841EC0FB" KeyPath="yes" Source="$(var.MakoDir)\mako\lexer.pyc" />
                    </Component>
                    <Component Id="cmpE5B31D49C271858D23C2D15B3390B753" Guid="{7E9AB18A-F99E-4220-9F4B-958C2602C69C}">
                        <File Id="fil9C404EC146FC996EF00DDA1F995B57DF" KeyPath="yes" Source="$(var.MakoDir)\mako\lookup.pyc" />
                    </Component>
                    <Component Id="cmp4D8632A575BD219B2FD80ACF55C2B2DC" Guid="{B978000A-07AD-4B83-B404-AD9DE4261F90}">
                        <File Id="fil1593D52290B8F3638936BD87D9955E73" KeyPath="yes" Source="$(var.MakoDir)\mako\codegen.py" />
                    </Component>
                    <Component Id="cmpE569B702C4464FC7BD2D5ADADF4DCF7C" Guid="{639B62F5-CF6C-4FD4-B9B6-F61F061FFCF3}">
                        <File Id="filCE42E85906E755F508CC0C9EDAE7A696" KeyPath="yes" Source="$(var.MakoDir)\mako\pyparser.py" />
                    </Component>
                    <Component Id="cmpAB4B4DFA1FF6831247A1E1BD67A86B37" Guid="{A38B44C0-64F7-44AB-B097-847E61B3E3EB}">
                        <File Id="fil33A6C71640F0E277DC90409C48DF0A38" KeyPath="yes" Source="$(var.MakoDir)\mako\util.pyc" />
                    </Component>
                    <Component Id="cmpDBA7DE81D2CFA53735747CF4BE01EBD7" Guid="{C611E788-40AF-4F6E-9009-E37743E6E98A}">
                        <File Id="fil7B0BB365278315156528E8C2D9381A3A" KeyPath="yes" Source="$(var.MakoDir)\mako\_ast_util.pyc" />
                    </Component>
                    <Component Id="cmpA0CFF1ABD562BB31A9CAFC7C4434B647" Guid="{5A079A5B-6567-47A8-A2FC-D51681F4467C}">
                        <File Id="fil9F430A5A7518E5D0CD7AF7A601ECB900" KeyPath="yes" Source="$(var.MakoDir)\mako\pyparser.pyc" />
                    </Component>
                    <Component Id="cmpE7BB46814977F86D2798BA5C549BD5FB" Guid="{77726246-312E-483D-9191-3FDF17AF3217}">
                        <File Id="filD95606F9F9D9AB84DD18CBBEBCF72361" KeyPath="yes" Source="$(var.MakoDir)\mako\ast.py" />
                    </Component>
                    <Component Id="cmp5E8E69FA4D42A130616FC84DA5898242" Guid="{65E18F7B-9CB2-49B0-9D0B-06C50F0B3C6F}">
                        <File Id="filF1AF4AB49362C1983D522CD20D2BFAF4" KeyPath="yes" Source="$(var.MakoDir)\mako\pygen.py" />
                    </Component>
                    <Component Id="cmp7B8885AB188FF56CA2E366B15A9CE936" Guid="{19F9AC79-44EE-4485-A6BB-B09A66F3D159}">
                        <File Id="fil27BA31692EE24908827D2A274E3271C7" KeyPath="yes" Source="$(var.MakoDir)\mako\parsetree.py" />
                    </Component>
                    <Component Id="cmp9C1B3533ED88A24D954AF7C8C6F1D5C4" Guid="{2A7E2C64-FB42-4DB8-BB16-3DE64118440F}">
                        <File Id="fil57C43195A7693481FF71DDA2E090CBDF" KeyPath="yes" Source="$(var.MakoDir)\mako\cache.pyc" />
                    </Component>
                    <Component Id="cmpE2C04D97E826F20B2EAFE51A7044416E" Guid="{7E096EE2-B81F-49A6-81DE-1B51B6772E76}">
                        <File Id="filBC3283512E3C4FE9DB81DCF1B515A4CD" KeyPath="yes" Source="$(var.MakoDir)\mako\util.py" />
                    </Component>
                    <Component Id="cmp6418697A8FB9EF68264A522CD3B58A61" Guid="{6113CEFF-D7AE-46C3-B681-ED9C72FCD42B}">
                        <File Id="fil004DCC083FCCB81208781C3CEBE41FEF" KeyPath="yes" Source="$(var.MakoDir)\mako\runtime.py" />
                    </Component>
                    <Component Id="cmp23E919F541BE8EB1420EC94832DBC7BE" Guid="{C067701A-0002-457E-A564-B6C1DF3EEC8D}">
                        <File Id="fil64F401AE9742A504D0A1409BD97F8D90" KeyPath="yes" Source="$(var.MakoDir)\mako\template.pyc" />
                    </Component>
                    <Component Id="cmp55DD3E332C020EC1DFF203A271F50D6E" Guid="{4831B9A6-18B1-40E5-BB07-B983225DB280}">
                        <File Id="filEEAC14EEBE789E804D28130CBEE3A834" KeyPath="yes" Source="$(var.MakoDir)\mako\exceptions.py" />
                    </Component>
                    <Component Id="cmpBC6992FF47DD0B89DCC33402490223B5" Guid="{F02B9684-B0C4-4665-B7BD-18B1C0A83EE2}">
                        <File Id="fil78D38662C28A12D7B37A3F3BB2707C90" KeyPath="yes" Source="$(var.MakoDir)\mako\ast.pyc" />
                    </Component>
                    <Component Id="cmp7F1B5DB836BE6C8594BB59050353545F" Guid="{257A125E-B70A-41B9-B00A-2B0FCA885BCC}">
                        <File Id="filD6EFE93CA477C0891502E67963E714E0" KeyPath="yes" Source="$(var.MakoDir)\mako\lookup.py" />
                    </Component>
                    <Component Id="cmp82AB093F54BBFB3F0DB6D3EA82C0FFCF" Guid="{BD8A072C-B042-42B0-90DB-1E742147B2A2}">
                        <File Id="fil5DBD753AABB57F1AD1D1EF5E545C5C1C" KeyPath="yes" Source="$(var.MakoDir)\mako\_ast_util.py" />
                    </Component>
                    <Component Id="cmp9D2D6427065A90CCAA4007854235EF36" Guid="{0B79A8E8-724C-4B95-8695-13F6DA819B9B}">
                        <File Id="fil1265AE682F5B9207F4EC88B1522F6EBC" KeyPath="yes" Source="$(var.MakoDir)\mako\__init__.pyc" />
                    </Component>
                    <Component Id="cmpD9E08356EF475B6C9D2DB4A047E4C830" Guid="{B7DCC9BB-D5A5-4F6C-8F16-EF0AB0770284}">
                        <File Id="fil54A9E939FCFE4DD210354FD9D7EAB494" KeyPath="yes" Source="$(var.MakoDir)\mako\filters.py" />
                    </Component>
                    <Component Id="cmpEA961AC07461CAF4ABF6B690B0605739" Guid="{61EE5C23-BFEC-4674-BFF0-7E6987D9ED9F}">
                        <File Id="filBDC1260BBE10CB08F6670CACBBC7EE6F" KeyPath="yes" Source="$(var.MakoDir)\mako\codegen.pyc" />
                    </Component>
                    <Directory Id="dir6199DD0A4D2F9EC72474516D9FAF6D38" Name="ext">
                        <Component Id="cmpBA72F55E034AF4B5A861758022B29D22" Guid="{4588711D-F58B-4512-ADAF-C4F47E148357}">
                            <File Id="filFA93171F103FD73F9E67B50368A3F386" KeyPath="yes" Source="$(var.MakoDir)\mako\ext\babelplugin.pyc" />
                        </Component>
                        <Component Id="cmp02137FA528E7282325E60EA589148AB1" Guid="{7A453DAD-F2BE-41C4-BD81-4AB4DEB186A1}">
                            <File Id="filC9ADEC47A3FEBA863374D53641AC42A3" KeyPath="yes" Source="$(var.MakoDir)\mako\ext\turbogears.py" />
                        </Component>
                        <Component Id="cmpF80D2853AC67019C2E96E82B5D8A8EF7" Guid="{5467815C-E9BF-4A5C-8EFF-27DCE183E009}">
                            <File Id="fil17F4E0FC57E2298E2F4F536E17592A5E" KeyPath="yes" Source="$(var.MakoDir)\mako\ext\__init__.py" />
                        </Component>
                        <Component Id="cmpC2BFC7B95904635DAAACAFC55F5BD085" Guid="{A966BF73-2BDC-43E5-AD4B-21B1E84957F1}">
                            <File Id="fil54AF1BCD54BF57C6A30235A258DBF977" KeyPath="yes" Source="$(var.MakoDir)\mako\ext\preprocessors.py" />
                        </Component>
                        <Component Id="cmp5AFF14C71C2C8097A78F5B1E046F6DB8" Guid="{5FAE2850-B9FD-419D-AEF5-3B8F23272700}">
                            <File Id="fil46087CD599522145F59ADDF8D98810E1" KeyPath="yes" Source="$(var.MakoDir)\mako\ext\turbogears.pyc" />
                        </Component>
                        <Component Id="cmp2E8CE304EF75D24560E4573212301D95" Guid="{FDC914EE-B844-443C-ABA0-6326198CEE59}">
                            <File Id="fil66388C232E54245AE0FB403EDCABA022" KeyPath="yes" Source="$(var.MakoDir)\mako\ext\babelplugin.py" />
                        </Component>
                        <Component Id="cmp5E47C3FC1260E8D4DBB232A177C0E220" Guid="{6C5C1344-A196-4362-BD01-DE5E9D984051}">
                            <File Id="fil6060DCE966EED560C5722CA1C0E24D4F" KeyPath="yes" Source="$(var.MakoDir)\mako\ext\pygmentplugin.pyc" />
                        </Component>
                        <Component Id="cmpE8A7BB33B5113D7C03C784D1AF5B317B" Guid="{B08EA9F4-BE1F-41BB-8D0D-A6EDE7045B52}">
                            <File Id="fil5750D4A2109AF50552048018E6171CF1" KeyPath="yes" Source="$(var.MakoDir)\mako\ext\pygmentplugin.py" />
                        </Component>
                        <Component Id="cmpC9C743CD8D508003322BA696DFAABB7E" Guid="{C0CA565D-D3AD-4B5E-9757-58DB60429DCD}">
                            <File Id="fil16E7CF53ACE9A314D64214E3D247A67E" KeyPath="yes" Source="$(var.MakoDir)\mako\ext\autohandler.py" />
                        </Component>
                        <Component Id="cmp649214C33E08CAFFFA1088BE4682404F" Guid="{EAD26894-F7E4-4DA5-897C-7FFBBD5E0466}">
                            <File Id="fil1F83499942B050375E0DC24AECD4A862" KeyPath="yes" Source="$(var.MakoDir)\mako\ext\autohandler.pyc" />
                        </Component>
                        <Component Id="cmp0EF94A242D58C8915ADD2B626C3EBC2D" Guid="{5560CC61-168E-4335-9950-787F042483ED}">
                            <File Id="fil516E333A93666B7B2B728767C543251B" KeyPath="yes" Source="$(var.MakoDir)\mako\ext\__init__.pyc" />
                        </Component>
                        <Component Id="cmp4448F7A0BCA5F75274C6CBF346BDE463" Guid="{564C53B8-C7C6-48AD-8C11-324D8FB374FD}">
                            <File Id="fil8071F8658BE46B0A54C649E26CF61C3D" KeyPath="yes" Source="$(var.MakoDir)\mako\ext\preprocessors.pyc" />
                        </Component>
                        <Directory Id="dirE549AC562B7CE110F97122ECFF2B2B81" Name=".svn">
                            <Component Id="cmp24421F809A4C7AB70FBE62A39A612959" Guid="{3436C35C-D1C8-4AF9-A6F3-F74B1DA7A071}">
                                <File Id="filD8839C35595E845A0247A4434A66D044" KeyPath="yes" Source="$(var.MakoDir)\mako\ext\.svn\entries" />
                            </Component>
                            <Directory Id="dir8DE659F63040B56E3CF995FECEA708E8" Name="text-base">
                                <Component Id="cmp5322D81CF710CBE8EB9F2923017F6C87" Guid="{6E1B3409-5011-4459-8D8C-3D3D78718E6B}">
                                    <File Id="filB5C75CE99D7AED57856BF1FD35FF0063" KeyPath="yes" Source="$(var.MakoDir)\mako\ext\.svn\text-base\preprocessors.py.svn-base" />
                                </Component>
                                <Component Id="cmp2C48A0746081DCB0BAB28250DCA40A01" Guid="{E5B60948-412F-4C06-8E79-A1EF73F568AC}">
                                    <File Id="fil29078D238566764F66A17A3142C6E829" KeyPath="yes" Source="$(var.MakoDir)\mako\ext\.svn\text-base\turbogears.py.svn-base" />
                                </Component>
                                <Component Id="cmpE842E9DFD43646B68E56B2CB5500E13D" Guid="{BD291911-AA0B-4745-9563-786EFDD74FFA}">
                                    <File Id="filDEEFDB352F181192C31F54B542725A4D" KeyPath="yes" Source="$(var.MakoDir)\mako\ext\.svn\text-base\pygmentplugin.py.svn-base" />
                                </Component>
                                <Component Id="cmp2836EA285BFAC9B35747F1009A73CCA0" Guid="{D3E40645-F8D7-4DAB-83CF-EF0AB4ED605C}">
                                    <File Id="fil5DE2E9B62010442A98B1541C0769B3DC" KeyPath="yes" Source="$(var.MakoDir)\mako\ext\.svn\text-base\babelplugin.py.svn-base" />
                                </Component>
                                <Component Id="cmpF23EE28F706238BC03D752910FD77C20" Guid="{A986716D-CF81-439D-9173-911E0121586D}">
                                    <File Id="filD62E9ABE34C3E5F99FD3A8479ECFE2AB" KeyPath="yes" Source="$(var.MakoDir)\mako\ext\.svn\text-base\autohandler.py.svn-base" />
                                </Component>
                                <Component Id="cmp28D612E42EB9AA69B2171D6B2FE970BE" Guid="{8747E614-EA50-4946-9FF8-47FAE7BD3111}">
                                    <File Id="fil66EA53F9C0FAA148A261D76ED0CF43ED" KeyPath="yes" Source="$(var.MakoDir)\mako\ext\.svn\text-base\__init__.py.svn-base" />
                                </Component>
                            </Directory>
                        </Directory>
                    </Directory>
                    <Directory Id="dir7EB8BB69ECB770235814418E08E73A53" Name=".svn">
                        <Component Id="cmpDA3720353CBB256FD3D236366AC14B15" Guid="{1EE178EF-186A-4A66-A4FA-05B91F1B2515}">
                            <File Id="fil7D37B6D1B49D30C99F3DA5EEAE7BBF78" KeyPath="yes" Source="$(var.MakoDir)\mako\.svn\entries" />
                        </Component>
                        <Directory Id="dir4DBF146E041F45499B54FDFBB74033A1" Name="text-base">
                            <Component Id="cmpF94E3FB1BB5F3CEEFCCA741C19CACFB3" Guid="{214DC986-6238-47A6-B194-BEC7374FBC78}">
                                <File Id="fil80C478386F1BD2527E529052F5719DBB" KeyPath="yes" Source="$(var.MakoDir)\mako\.svn\text-base\_ast_util.py.svn-base" />
                            </Component>
                            <Component Id="cmpC476825B60E23E49CD24E4AAC8C83553" Guid="{E3F04FD4-289F-45CC-9432-C50A7A07BEC1}">
                                <File Id="filEA98964C146B1ADB700A2832F93AB664" KeyPath="yes" Source="$(var.MakoDir)\mako\.svn\text-base\exceptions.py.svn-base" />
                            </Component>
                            <Component Id="cmpE7566EABC31CB4E5A5CC45DB11EAE243" Guid="{24CE43FE-1D46-4D7D-9AE4-E1E076CAF467}">
                                <File Id="fil69ED443148B946149F0F9C1641DB9E9C" KeyPath="yes" Source="$(var.MakoDir)\mako\.svn\text-base\util.py.svn-base" />
                            </Component>
                            <Component Id="cmp7530F00CEF242490AA405A2B8DFA645B" Guid="{088D6662-312D-4C8D-B077-341CB0B744C7}">
                                <File Id="fil7D7FA79BB1F033569934BE334FB3EFF5" KeyPath="yes" Source="$(var.MakoDir)\mako\.svn\text-base\lookup.py.svn-base" />
                            </Component>
                            <Component Id="cmp612159D2EB113F20A8AE240CCE4DFE62" Guid="{9F644D74-4E29-492A-856C-6C06E6C7BD10}">
                                <File Id="fil381882F3A873CD56F8C32A06E5CE4100" KeyPath="yes" Source="$(var.MakoDir)\mako\.svn\text-base\runtime.py.svn-base" />
                            </Component>
                            <Component Id="cmp159647DBCA89841084CC5427EF47110A" Guid="{9A69AA25-28FA-455F-9358-25B963C073DE}">
                                <File Id="filD0F5BA7006EE6BBA58811A0CEBC2176C" KeyPath="yes" Source="$(var.MakoDir)\mako\.svn\text-base\pygen.py.svn-base" />
                            </Component>
                            <Component Id="cmpBA18E5213BE8F1D42BDE5474F34A1932" Guid="{EB47EE4D-63DE-4588-865A-AAA8F398EF5E}">
                                <File Id="filD3E0306BBCBE1F68EEF99CF630C4273F" KeyPath="yes" Source="$(var.MakoDir)\mako\.svn\text-base\lexer.py.svn-base" />
                            </Component>
                            <Component Id="cmp00A05E33DE669D3CDC7701C7EB70F94A" Guid="{BD1E2711-4691-4822-BC4E-F9004218C539}">
                                <File Id="fil37A5407541A5235AACA17FBA50C86AA2" KeyPath="yes" Source="$(var.MakoDir)\mako\.svn\text-base\codegen.py.svn-base" />
                            </Component>
                            <Component Id="cmpFC7DC3010A3C2B2B9C9C5F184A99B3CB" Guid="{26FDF9AF-8D34-492E-A890-816F326F1F3C}">
                                <File Id="fil33BBD967F26DB18B05795DE3326EBBA4" KeyPath="yes" Source="$(var.MakoDir)\mako\.svn\text-base\filters.py.svn-base" />
                            </Component>
                            <Component Id="cmp93B393F8A59043E5D4C836AE5C0DCAF9" Guid="{762B4746-C208-48C1-BBC0-A7EA5A337FA9}">
                                <File Id="filCFFCB07F7D11379AD5014252B236FDED" KeyPath="yes" Source="$(var.MakoDir)\mako\.svn\text-base\cache.py.svn-base" />
                            </Component>
                            <Component Id="cmpA233DFBEC525D4C2913F651092700031" Guid="{0F0BE9D4-3BC6-403B-824F-2DEB9CB747A6}">
                                <File Id="fil96257C87127CD6473ADC8E49D013A6B8" KeyPath="yes" Source="$(var.MakoDir)\mako\.svn\text-base\ast.py.svn-base" />
                            </Component>
                            <Component Id="cmp6EE74A057A286BA5C218EB7F87B9CE26" Guid="{CE235B3E-33DC-40CD-AA94-BB5FAFD9A5F2}">
                                <File Id="filA351655C5E40AE09751BB3E14F1F2641" KeyPath="yes" Source="$(var.MakoDir)\mako\.svn\text-base\template.py.svn-base" />
                            </Component>
                            <Component Id="cmp308938C4330B51EE8FE1CF78BFB3F319" Guid="{8FB8C855-98A4-46C4-80E8-AADE101666A4}">
                                <File Id="fil0A455B33E564985E79757FF4ED09492E" KeyPath="yes" Source="$(var.MakoDir)\mako\.svn\text-base\parsetree.py.svn-base" />
                            </Component>
                            <Component Id="cmpE0D69C29521A3A7A5F1474CBD97A480D" Guid="{4C610E82-C8D6-4F75-89E3-700E124018F1}">
                                <File Id="fil09B066C0A8BE20FEC5A2FEA436C94D08" KeyPath="yes" Source="$(var.MakoDir)\mako\.svn\text-base\__init__.py.svn-base" />
                            </Component>
                            <Component Id="cmp88E83A9C097FE0ABCF93E6FB83D56A2D" Guid="{0B899B89-5401-40E7-92F5-145208CBF5C0}">
                                <File Id="filD695AE35226AF6038C68B7803232FBE3" KeyPath="yes" Source="$(var.MakoDir)\mako\.svn\text-base\pyparser.py.svn-base" />
                            </Component>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="Mako033">
            <ComponentRef Id="cmp6D536DA14115BBCD12982339D61838E5" />
            <ComponentRef Id="cmp3494B0DF2B22EF34FEBECE982E74B9F0" />
            <ComponentRef Id="cmp05D9F725B57351B6FF342507FA9EFAE4" />
            <ComponentRef Id="cmpAAF692F25D7DCB6F18FD4A821778088E" />
            <ComponentRef Id="cmp4DA5BBAD7F5DC5784BBCDB1688E40012" />
            <ComponentRef Id="cmp9DA9B4AF053AF23C256A194749EFA8EF" />
            <ComponentRef Id="cmp5741C15015B7D6D5A48941E739BBCAB4" />
            <ComponentRef Id="cmp691DBB37AA66818469D630CB77E01679" />
            <ComponentRef Id="cmpFE73889C0F96D4A5D21441AEFD0F301B" />
            <ComponentRef Id="cmpB139BAE4A468CC56CB522D0AB857EE77" />
            <ComponentRef Id="cmp9F92A89E259FF561D5AD10B40684A5E0" />
            <ComponentRef Id="cmpD9E8C125E692DFD15080C397C01027F0" />
            <ComponentRef Id="cmpB3969832B82FC15DD4FD014606446CB7" />
            <ComponentRef Id="cmp2D30463AA793688567F7F07E12881A1F" />
            <ComponentRef Id="cmp631FEF084E4C60A75F07E53E2FBE3334" />
            <ComponentRef Id="cmp474549535E9601D52BE47C9DE2B74561" />
            <ComponentRef Id="cmp952090385424F1C51249260C0AA21639" />
            <ComponentRef Id="cmp98B52544AC990BD818120B79F658B83B" />
            <ComponentRef Id="cmpE2027302E149D63244F20121A6EF0CB8" />
            <ComponentRef Id="cmp2C663AAF9A726748E5B6BBCC22D14D6C" />
            <ComponentRef Id="cmp2C1229D7A190DBAD2CF097FE65F2E9D1" />
            <ComponentRef Id="cmp1B476CD895834B6CFCFCBF988D59E0FA" />
            <ComponentRef Id="cmpC431238B727035CE0B150E303E4A6E02" />
            <ComponentRef Id="cmp296AEA342CC0FAB3F38D9DFE34B5A2C5" />
            <ComponentRef Id="cmpAD2D00BD0EDF7AF14C10A7FB20861050" />
            <ComponentRef Id="cmp6151576C3E7AEC535395B989D34C1B9C" />
            <ComponentRef Id="cmp372A475C42B064D02CFFBB3B9EE9AA1D" />
            <ComponentRef Id="cmpC28E65E030C729B709EACB9BE24E181F" />
            <ComponentRef Id="cmpA72CF8E57825B8608D14505D52892200" />
            <ComponentRef Id="cmpE5B31D49C271858D23C2D15B3390B753" />
            <ComponentRef Id="cmp4D8632A575BD219B2FD80ACF55C2B2DC" />
            <ComponentRef Id="cmpE569B702C4464FC7BD2D5ADADF4DCF7C" />
            <ComponentRef Id="cmpAB4B4DFA1FF6831247A1E1BD67A86B37" />
            <ComponentRef Id="cmpDBA7DE81D2CFA53735747CF4BE01EBD7" />
            <ComponentRef Id="cmpA0CFF1ABD562BB31A9CAFC7C4434B647" />
            <ComponentRef Id="cmpE7BB46814977F86D2798BA5C549BD5FB" />
            <ComponentRef Id="cmp5E8E69FA4D42A130616FC84DA5898242" />
            <ComponentRef Id="cmp7B8885AB188FF56CA2E366B15A9CE936" />
            <ComponentRef Id="cmp9C1B3533ED88A24D954AF7C8C6F1D5C4" />
            <ComponentRef Id="cmpE2C04D97E826F20B2EAFE51A7044416E" />
            <ComponentRef Id="cmp6418697A8FB9EF68264A522CD3B58A61" />
            <ComponentRef Id="cmp23E919F541BE8EB1420EC94832DBC7BE" />
            <ComponentRef Id="cmp55DD3E332C020EC1DFF203A271F50D6E" />
            <ComponentRef Id="cmpBC6992FF47DD0B89DCC33402490223B5" />
            <ComponentRef Id="cmp7F1B5DB836BE6C8594BB59050353545F" />
            <ComponentRef Id="cmp82AB093F54BBFB3F0DB6D3EA82C0FFCF" />
            <ComponentRef Id="cmp9D2D6427065A90CCAA4007854235EF36" />
            <ComponentRef Id="cmpD9E08356EF475B6C9D2DB4A047E4C830" />
            <ComponentRef Id="cmpEA961AC07461CAF4ABF6B690B0605739" />
            <ComponentRef Id="cmpBA72F55E034AF4B5A861758022B29D22" />
            <ComponentRef Id="cmp02137FA528E7282325E60EA589148AB1" />
            <ComponentRef Id="cmpF80D2853AC67019C2E96E82B5D8A8EF7" />
            <ComponentRef Id="cmpC2BFC7B95904635DAAACAFC55F5BD085" />
            <ComponentRef Id="cmp5AFF14C71C2C8097A78F5B1E046F6DB8" />
            <ComponentRef Id="cmp2E8CE304EF75D24560E4573212301D95" />
            <ComponentRef Id="cmp5E47C3FC1260E8D4DBB232A177C0E220" />
            <ComponentRef Id="cmpE8A7BB33B5113D7C03C784D1AF5B317B" />
            <ComponentRef Id="cmpC9C743CD8D508003322BA696DFAABB7E" />
            <ComponentRef Id="cmp649214C33E08CAFFFA1088BE4682404F" />
            <ComponentRef Id="cmp0EF94A242D58C8915ADD2B626C3EBC2D" />
            <ComponentRef Id="cmp4448F7A0BCA5F75274C6CBF346BDE463" />
            <ComponentRef Id="cmp24421F809A4C7AB70FBE62A39A612959" />
            <ComponentRef Id="cmp5322D81CF710CBE8EB9F2923017F6C87" />
            <ComponentRef Id="cmp2C48A0746081DCB0BAB28250DCA40A01" />
            <ComponentRef Id="cmpE842E9DFD43646B68E56B2CB5500E13D" />
            <ComponentRef Id="cmp2836EA285BFAC9B35747F1009A73CCA0" />
            <ComponentRef Id="cmpF23EE28F706238BC03D752910FD77C20" />
            <ComponentRef Id="cmp28D612E42EB9AA69B2171D6B2FE970BE" />
            <ComponentRef Id="cmpDA3720353CBB256FD3D236366AC14B15" />
            <ComponentRef Id="cmpF94E3FB1BB5F3CEEFCCA741C19CACFB3" />
            <ComponentRef Id="cmpC476825B60E23E49CD24E4AAC8C83553" />
            <ComponentRef Id="cmpE7566EABC31CB4E5A5CC45DB11EAE243" />
            <ComponentRef Id="cmp7530F00CEF242490AA405A2B8DFA645B" />
            <ComponentRef Id="cmp612159D2EB113F20A8AE240CCE4DFE62" />
            <ComponentRef Id="cmp159647DBCA89841084CC5427EF47110A" />
            <ComponentRef Id="cmpBA18E5213BE8F1D42BDE5474F34A1932" />
            <ComponentRef Id="cmp00A05E33DE669D3CDC7701C7EB70F94A" />
            <ComponentRef Id="cmpFC7DC3010A3C2B2B9C9C5F184A99B3CB" />
            <ComponentRef Id="cmp93B393F8A59043E5D4C836AE5C0DCAF9" />
            <ComponentRef Id="cmpA233DFBEC525D4C2913F651092700031" />
            <ComponentRef Id="cmp6EE74A057A286BA5C218EB7F87B9CE26" />
            <ComponentRef Id="cmp308938C4330B51EE8FE1CF78BFB3F319" />
            <ComponentRef Id="cmpE0D69C29521A3A7A5F1474CBD97A480D" />
            <ComponentRef Id="cmp88E83A9C097FE0ABCF93E6FB83D56A2D" />
        </ComponentGroup>
    </Fragment>
</Wix>